<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>328017943825-r8k0var4p97p776bps46fiar05ssg355.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.328017943825-r8k0var4p97p776bps46fiar05ssg355</string>
	<key>API_KEY</key>
	<string>AIzaSyDDvJ2ImbM4e29mNxMBwQnV4jarZCd7xWo</string>
	<key>GCM_SENDER_ID</key>
	<string>328017943825</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vn.hellovietname.mynotes.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>fir-frontend-468a3</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-frontend-468a3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:328017943825:ios:f0e9146b17287719d200b0</string>
	<key>DATABASE_URL</key>
	<string>https://fir-frontend-468a3-default-rtdb.firebaseio.com</string>
</dict>
</plist>